/* Resetting CSS default settings */

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
    margin:0;
}

h1,
h2,
h3,
h4,
p,
 {
    margin: 0;
}

img {
    display: block;
}

 /* BODY */

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    color: #434455;
    background-color: #FFFFFF;
}

.h2 {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.h3 {
        font-weight: medium;
        font-size: 20px;
        letter-spacing: 0.02em;
}

.ul-list {
    list-style-type: none;
}

/* container */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin:0 auto;
    }

/* header */
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar .ul-list {
    display: flex;
    gap: 40px;

}

.address .ul-list {
    display: flex;
    gap: 40px;
    
}

.nav-adress-item {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    }

.nav-adress-item:hover, 
.nav-adress-item:focus {
    color: #404bbf;
    }
    
.nav-item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-item:hover,
.nav-item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

/* logo */

.logo-link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #4d5ae5;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-right: 76px
}

.studio {
    color: #2e2f42;
    text-transform: uppercase;
}

/* top section */

.top-section {
    padding: 188px 0;
}

.top-section {
    background-color: #2e2f42;
}

.h-top-section {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        line-height: 24px;
        background-color: #4D5AE5;
        color: #FFFFFF;
        cursor: pointer;
        padding: 16px 32px;
        margin: 0 auto;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
}

.button:hover {
    background-color: #404BBF
}

.button:focus {
    background-color: #404BBF
}

/* feauture section */

.features-section {
    padding: 120px 0;
    }

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features-section .container .ul-list {
    display: flex;
        gap: 24px;
        margin: 0 auto;
        flex-wrap: wrap;
}
 
.li-features-section {
        align-items: center;
width: calc((100% - 72px) / 4);
        
}
.paragrapf {
    letter-spacing: 0.02em;
        line-height: 1.5;
        margin: 0;
}

.h-features {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        line-height: 1.2;
        margin: 0;
        margin-bottom: 8px;
}

.li-features-section .paragrapf {
    margin: 0;
}

.ul-list {
    display: flex;
    gap: 24px;

}

/* team-section */

.team-section .container .ul-list {
    display: flex;
    margin: 0 auto;
    gap: 24px;
}
.team-section {
    background-color: #F4F4FD;
    padding: 120px 0
}


.h-main-team-section {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        line-height: 1.11;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: 72px;
}

.h-team-section {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
}

.li-team-section {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.li-team-section .paragrapf {
    text-align: center;
    margin: 0;
}

.li-team-section-text {
    padding: 32px 0;
}


/* portfolio-section */

.portfolio-section {
    padding: 120px 0 120px 0;
}


.portfolio-section .container .ul-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.h-portfolio-section {
    font-weight: 500;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    margin-bottom: 8px;
}

.portfolio-container .ul-list .paragrapf {
    margin: 0;
    padding-left: 16px;
}

.portfolio-container-text {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-section-list-item {
    width: calc((100% - 48px) / 3);
}


/* footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    
    
}
 .footer .container {
    
    justify-content: flex-start }

.footer-paragraph {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

.studio-footer {
    color: #f4f4fd;

}

.footer .container .logo-link {
    display: inline-block;
    margin-bottom: 16px;
}
